* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    background-color: rgb(184, 184, 240);
    min-height: 100vh;
    border: 10px solid rgb(46, 3, 84);

}

.content {
    max-width: 900px;
    margin: 0 auto;

}

.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 246);
    text-transform: uppercase;
    transition: all;
}

.top_section h3 {
    text-align: center;
    font-size: 15px;
}


.image_container {
    border-radius: 50%;
    overflow: hidden;
}

.image_container,
img {
    height: 350px;
    width: 320;
}

.about_section {
    margin-top: 50px;

}

.about_section h2 {
    font-size: 40px;
    font-weight: 150px;
    margin-bottom: 20px;
}

.about_section p {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.1px;
    text-align: justify;
}

.degree_section {
    margin: 35px 0;

}

.degree_section h3 {
    font-size: 20px;
    font-weight: 200px;
    margin-bottom: 15px;
}

.degree_section,
ul {
    margin-left: 50px;

}

.degree_section,
li {
    margin-bottom: 15px;
    text-align: justify;
}

footer {
    margin: 50px 0;

}

footer p {
    text-align: end;
}

a {
    color: blue;
}